name: Build_DimensionCam_APK
permissions:
  contents: write

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout codes
      uses: actions/checkout@v3
      with:
        fetch-depth: '0'

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Assemble Release APK
      run: ./gradlew assembleRelease --stacktrace

    - name: Create ZIPs
      working-directory: ./app/build/outputs/apk/
      run: |
        zip -r ./dimensioncam.zip ./release

    - name: Get git revision
      id: get_git_revision
      run: |
        echo "tag_name=$(($(git rev-list HEAD --count) + 100))" >> $GITHUB_OUTPUT
        echo "release_name=$(($(git rev-list HEAD --count) + 100))" >> $GITHUB_OUTPUT

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: tag-${{ steps.get_git_revision.outputs.tag_name }}
          release_name: Release ${{ steps.get_git_revision.outputs.release_name }}
          draft: false
          prerelease: false

    - name: Upload Release APK
      id: upload-release-asset-images
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app/build/outputs/apk/dimensioncam.zip
          asset_name: dimensioncam.zip
          asset_content_type: application/zip
